-----------------------------------------------PAGE------------------------------------------------
#blocpage
{
	width: 900px;
	margin: auto;
}
----------------------------------------------HEADER-------------------------------------------------
h1
{
	text-align: center;
}

nav
{
	text-align: center;
	background-color: #F2BC27;
}

ul
{
	list-style-type: none;
}

nav li
{
	display: inline-block;
	margin: 20px;
}

a:hover
{
	color: black;

}

a
{
	color: white;
	text-decoration: none;
}

li:hover
{
	background-color: 
}
-----------------------------------------------CORPS-----------------------------------------------
section
{
	border: black solid 1px;
}

#corps
{
	border: red solid 1px;
}

-----------------------------------------------FOOTER----------------------------------------------